<configuration>
    <connectionStrings>
        <add name="connl" connectionString="server=127.0.0.1" providerName="mysql"/>
        <add name="conn2" connectionString="testdb2" providerName="wfb"/>
    </connectionStrings>
    <appSettings>
        <add key="Config:name" value="nicaia"/>
        <add key="Config:age" value="12"/>
        <add key="Config:proxy:address" value="192.168.1.5"/>
        <add key="Config:proxy:port" value="333"/>
        <add key="Config:proxy:ids:0" value="888"/>
        <add key="Config:proxy:ids:1" value="777"/>
    </appSettings>
</configuration>